<MudPaper Class="featured-strip pa-4 pa-md-6" Elevation="0">
    <MudStack Spacing="1" AlignItems="AlignItems.Center" Class="mb-4">
        <MudText Typo="Typo.h5" Align="Align.Center">
            Professional projects highlight
        </MudText>
        <MudText Typo="Typo.body2" Align="Align.Center" Class="section-subtitle">
            Titles and productions that I had the opportunity to contribute to.
        </MudText>
    </MudStack>

    <br/>
    
    <div class="featured-cards-grid">
        <FeaturedCard
            Title="Metroid Prime 4 Beyond"
            Role="Software Engineer"
            Description="In collaboration with Retro Studios"
            ImageSrc="images/metroid-prime-4.png"
            ImageAlt="Metroid Prime 4"
            CreditsUrl="https://www.mobygames.com/person/1886377/logan-devillard/" />

        <FeaturedCard
            Title="Dying Light the Beast"
            Role="Software Engineer"
            Description="In collaboration with Techland"
            ImageSrc="images/dying-light-the-beast.jpg"
            ImageAlt="Dying Light the Beast"
            CreditsUrl="https://www.mobygames.com/person/1886377/logan-devillard/" />

        <FeaturedCard
            Title="Splitgate Arena Reloaded"
            Role="Software Engineer"
            Description="In collaboration with 1047 Games"
            ImageSrc="images/splitgate-arena-reloaded.png"
            ImageAlt="Splitgate Arena Reloaded"
            CreditsUrl="https://www.linkedin.com/posts/logan-devillard-004971207_i-had-a-great-time-working-on-splitgate-2-activity-7338484036039860224-kpXo?utm_source=share&utm_medium=member_desktop&rcm=ACoAADSlWcQBBKKXMdvuD17FQzD-ZyqRe4B4Mu4" />
    </div>
</MudPaper>
