<MudDivider Light="true"/>
<MudContainer>
    <MudStack AlignItems="AlignItems.Center">
        <span class="section-divider-label">@Label</span>
        @if (!string.IsNullOrWhiteSpace(Caption))
        {
            <MudText Color="Color.Secondary" Align="Align.Center">@Caption</MudText>
        }
    </MudStack>
</MudContainer>
